{block content}
<div style="margin-top: 120px"></div>
<table class="vycentrujTabulku" style="background: #99f999; padding: 30px; border-radius: 12px">
    <tr>
        <td>
            <h1 style="margin-top: 0px">Úprava příspěvku</h1>
            {control prispevky999} 
            {*<a n:href="Homepage:default"><div class="referencniOdkaz vycentrujText">Zpět na příspěvky</div></a>*}
        </td>
    </tr>
</table>
{/block}
